@import styles/variables
@import styles/extends

.top
    height: 55vw

.intro
    width: 100%
    max-width: 1440px

.block1
    width: 100%
    height: 1200px
    position: relative
    margin: 0 auto

    & > *
        position: absolute

    h3
        font-size: 40px
        font-weight: normal

    .unme-logo
        top: 80px
        left: 12%
        width: 45px

    .founder
        text-align: right
        left: 45%
        top: 80px
        margin: 0

    .creator
        font-size: 40px
        top: 320px
        left: 33%

    .title
        color: $light-grey2
        font-size: 24px
        top: 580px
        left: 33%
        letter-spacing: 4px

    p
        color: $light-grey3
        font-size: 16px
        top: 650px
        left: 33%

    ul
        color: $light-grey3
        right: 12%
        top: 350px

    .svg-line1
        width: 65%
        left: 10%
        top: 0

    .svg-line2
        width: 65%
        right: 12%
        top: 300px

    .svg-block
        width: 75%
        left: 10%
        top: 130px

.block2
    height: 300vh
    display: flex
    justify-content: center
    align-items: flex-top
    h3
        margin: 0 0 10px
        font-size: 26px
        &+p
            font-size: 14px
            margin-bottom: 25px
    h4
        color: $light-grey2
        font-size: 20px
        font-weight: normal
        margin: 30px 0 10px
    p
        font-size: 16px
        color: $light-grey3
    .content
        margin-right: 170px
    img
        height: 70px
        width: auto
        margin: 30px 0 
.image
    width: 467px

.split
    width: 467px
    height: 569px
    display: flex

    & > div
        flex: 1
        background: url("/not-alpha.jpg")
        background-repeat: no-repeat
        background-size: auto 100%

        &:nth-of-type(1)
            background-position: 0 0

        &:nth-of-type(2)
            background-position: 16.66% 0

        &:nth-of-type(3)
            background-position: 33.32% 0

        &:nth-of-type(4)
            background-position: 49.98% 0

        &:nth-of-type(5)
            background-position: 66.64% 0

        &:nth-of-type(6)
            background-position: 83.3% 0

        &:nth-of-type(7)
            background-position: 100% 0

.articles
    color: $light-grey2
.guide
    h3
        font-size: 24px
    p
        margin: 20px 0 45px
        font-size: 20px
    .sub
        font-size: 16px
        color: $light-grey3


