@import styles/variables
@import styles/extends

.navbar
    +flexSpaceBetween

    padding: 20px 70px
    transition: all ease 0.4s
    width: 100%
    position: fixed
    top: 0
    left: 0
    z-index: 100

    &.scroll
        backdrop-filter: blur(12px)
        transition: all ease 0.4s
        box-shadow: 0 0px 30px rgba($black, 0.3)

    +padView
        padding: 20px 25px

.logo
    width: 30px

    +padView
        width: 20px

.menu
    width: 400px
    position: absolute
    margin-left: auto
    margin-right: auto
    left: 0
    right: 0

    +flexCenter

    li
        color: $light-grey3

        +transition

        &.active
            color: $light-grey2
            font-style: italic

        &:hover
            color: $light-grey2

            +transition

        & > a
            padding: 0 20px

    +padView
        position: fixed
        left: 0
        top: 0
        background: $bg-black2
        transform: translateX(-140px)
        transition: 0.2s ease-out all
        width: 140px
        height: calc(var(--vh,1vh) * 100)
        display: flex
        justify-content: flex-start
        align-items: flex-start
        flex-direction: column
        padding: 80px 30px 0 20px
        margin: 0

        li
            width: 100%

            & > a
                border-bottom: 1px solid $light-grey2
                padding: 15px 0 7px
                display: block

        &.on
            transform: translateX(0)
            transition: 0.2s ease-out all
            box-shadow: 0 0 10000px 10000px rgba($black, 0.8)

.right
    +flexCenter

    .social
        +flexCenter

        li
            margin: 0 5px
            cursor: pointer

    .search
        margin-left: 45px

    +padView
        display: none

.trigger
    display: none

    +padView
        display: inherit
        position: relative
        width: 40px
        height: 40px

        &:before, &:after
            position: absolute
            content: ""
            width: 20px
            height: 2px
            background: $light-grey2
            left: 10px

        &:before
            top: 13px
            transition: 0.2s ease-out all

        &::after
            bottom: 13px

        &.on
            &:before
                transform: translateY(12px)
                transition: 0.35s ease-out all
